@use 'fonts';

body{
    max-width:1110px;
    display:flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
    background-color: #FFFFFF;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
    margin-bottom: 48px;
    align-items: flex-start;

    .footer_right{
        display: flex;
        justify-content: space-between;
    }
   
}

input{
    font-family: fonts.$maintext;
}

a{
    font-family: fonts.$maintext;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: -0.346154px;

    color: #111111;
    text-decoration: none;


}
a:hover{
    text-decoration: underline;
}
.link__icons{
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 95px;
    margin-right: 45px;
}
.link_icon{
    margin-left:24px ;
}
.nav__right{
    margin-right: 29px;

}

h1{
    font-family: fonts.$maintext;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* or 150% */


    color: #111111;
}
h2{
    font-family: fonts.$maintext;
}
h3{
    font-family: fonts.$maintext;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */


    color: #111111;
}
h4{
    font-family: fonts.$maintext;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: -0.423077px;
    margin-bottom: 32px;
}
h5{
    font-family: fonts.$maintext;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #111111;


}

p{
    font-family: fonts.$maintext;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #111111;
}

.top__section{
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

.p__width{
    max-width: 635px;
}

img{
    transition: scale 1s ease;
}
img:hover{
    scale: 1.1;
}

.text__gray{
    color:rgba(17, 17, 17, 0.6)
}