@import'main';

.top__section__left{
    max-width: 50%;
    width: 100%;
}
.top__section__right{
    max-width: 475px;
    width: 100%;
}

h1{
    margin-bottom: 29px;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #979797;
    padding: 16px 0;
    margin-bottom: 38px;


    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #111111;
}
button{
    width: 125px;
    height: 50px;
    border-radius: 0;
    border: none;
    background-color: #4A4FF2 ;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    &:hover{
        background-color: #FFFFFF;
        color: #4A4FF2;
        border: 1px solid #4A4FF2;
    }
}

.main__image{
    margin-top: 120px;
    margin-bottom: 42px;
}